html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
body {
    font-size: 12px;
    font-family: "Droid Sans Fallback",Arial,sans-serif;
    line-height: 1;
    color: #333;
    background: #f4f4f4;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
/* 清除浮动 */
.f-cb {
    zoom: 1;
}
.f-cb:after {
    display: block;
    clear: both;
    content: "";
}
/* 表格 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
/* 列表 */
ol, ul {
    list-style: none;
}
/* 链接 */
a {
    color: #333;
    text-decoration: none;
}
/* 图链 */
a img {
    border: none;
}
@media only screen and (max-width: 320px){html{font-size: 9px;} }
@media only screen and (min-width: 320px) and (max-width: 352px){html{font-size: 10px;} }
@media only screen and (min-width: 352px) and (max-width: 384px){html{font-size: 11px;} }
@media only screen and (min-width: 384px) and (max-width: 416px){html{font-size: 12px;} }
@media only screen and (min-width: 416px) and (max-width: 448px){html{font-size: 13px;} }
@media only screen and (min-width: 448px) and (max-width: 480px){html{font-size: 14px;} }
@media only screen and (min-width: 480px) and (max-width: 512px){html{font-size: 15px;} }
@media only screen and (min-width: 512px) and (max-width: 544px){html{font-size: 16px;} }
@media only screen and (min-width: 544px) and (max-width: 576px){html{font-size: 17px;} }
@media only screen and (min-width: 576px) and (max-width: 608px){html{font-size: 18px;} }
@media only screen and (min-width: 608px) and (max-width: 640px){html{font-size: 19px;} }
@media only screen and (min-width: 640px){html{font-size: 20px;} }
/* 顶部搜索框 */
.search-top {
     display: -webkit-box;
    -webkit-box-align: center;
    padding: 0 15px;
    height: 55px;
    background: #fafafa; 
}
.search-top .logo-clip {
    display: -webkit-box;
    -webkit-box-flex: 0;
    -webkit-box-align: center;
    height: 55px;
}
	.logo-clip .img {
	    max-height: 40px;
	}
.search-top .form-search {
    margin: 0 15px;
    -webkit-box-flex: 1;
}
.form-search .form-wrap {
    display: -webkit-box;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
   	-webkit-box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 14px;
    color: #c5c5c5;
}
	.glass-ico {
	    width: 14px;
	    height: 14px;
	    margin-right: 7px;
	    display: block;
	    background: url(http://image.uc.cn/s/uae/g/1m/ngp_portal/ios_game/i_ico.png) no-repeat -3px -100px;
	    background-size: 60px auto;
	}
.search-top .usr-col {
    -webkit-box-flex: 0;
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(http://image.uc.cn/s/uae/g/1m/ngp_portal/ios_game/i_ico.png);
    background-repeat: no-repeat;
    background-position: -32px -2px;
    background-size: 60px auto;
}
/* 导航 */
.tab-nav {
    width: 100%;
    height: 40px;
    padding: 0 23px;
    display: -webkit-box;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
    -webkit-box-sizing: border-box;
    z-index: 5;
}
.tab-nav .items {
    height: 39px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: 0 5px;
    -webkit-box-flex: 1;
    color: #333;
    font-size: 14px;
}

/* 友情链接 */
.firend-col {
    padding-top: 18px;
    padding-bottom: 5px;
}
.firend-col .fr-title {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
}
.fr-cont {
    position: relative;
    padding: 0 15px;
    margin-top: 16px;
}
.fr-cont .toggle {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    border: 0 solid rgba(201,201,201,0.75);
    border-width: 2px 2px 0 0;
    bottom: 5px;
    -webkit-transform: rotate(-46deg);
}
.fr-cont.over {
    height: 24px;
    overflow: hidden;
}
.fr-cont.over .toggle {
    bottom: 12px;
    -webkit-transform: rotate(135deg);
}
.fr-cont .items {
    float: left;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}
.fr-cont .items:after {
    content: '';
    width: 1px;
    height: 12px;
    position: absolute;
    top: 2px;
    right: -5px;
    background: #666;
    display: block;
}
.fr-cont:before, .fr-cont:after {
    display: table;
    content: "";
    line-height: 0;
}