.enter-tab {
    width: 100%;
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem;
    background-color: #fff;
    margin-bottom: .7rem;
}
.enter-tab a {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .4rem;
}
.enter-tab img {
    max-width: 100%;
}
/* 盒子 */
.main-col {
    background: #fff;
    margin-bottom: 10px;
}
.title-mod {
    height: 50px;
    padding: 0 15px;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
.title-mod .title-cont {
    display: -webkit-box;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.title-cont:before {
    content: '';
    width: 3px;
    height: 14px;
    margin-right: 6px;
    display: block;
    background: #f80;
}
.title-mod .more-col {
    margin-left: 5px;
    color: #999;
}
.gm-wrap {
    overflow: hidden;
}
.gm-list-col {
    display: -webkit-box;
    padding-left: 15px;
}
.gm-list-col .items {
    width: 76px;
    display: block;
    -webkit-box-flex: 0;
    margin-left: 22px;
}
/* 第一个元素 */
.gm-list-col .items:first-child {
    margin-left: 0;
}
.gm-list-col .img-clip {
    width: 76px;
    height: 76px;
    margin: 0 auto;
    overflow: hidden;
}
.gm-list-col .img {
    width: 76px;
    height: 76px;
    -webkit-border-radius: 15px;
}
.gm-list-col .name, .hot-list .items {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gm-list-col .name {
    height: 44px;
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: center;
    -webkit-line-clamp: 2;
    font-size: 14px;
    color: #333;
    line-height: 22px;
}